.App-header, .footer-content{
  text-align: center;
  border: 2px solid darkgrey;
  border-radius: 25px ;
  background-color: darkgrey;
}

.main-content{
  text-align: center;
}

.cardHolder{
  border: 2px solid lightgrey;
  border-radius: 25px;
  padding: 8px;
  border-collapse: separate;
  border-spacing: 15px, 10rem;
  
}

.placeWhy{
  border: 2px solid grey;
  border-radius: 25px;
  display: inline;
  line-height: 2.5;
  padding: 3px;
}

.london-eye{
  max-width: 70%;
  height: auto;
  padding:8px;
}

