body {
  padding: 10px;
  max-width: 1000px;
  margin: 0 auto;
}

.App-header,
.footer-content {
  text-align: center;
  border: 2px solid darkgrey;
  border-radius: 25px;
  background-color: darkgrey;
}

.main-content {
  text-align: center;
}

.cardHolder {
  border: 2px solid lightgrey;
  border-radius: 25px;
  margin-top: 10px;
  border-collapse: separate;
  border-spacing: 15px, 10rem;
}

.placeWhy {
  border: 2px solid grey;
  border-radius: 25px;
  display: inline;
  line-height: 2.5;
  padding: 3px;
}

.placePicture {
  max-width: 70%;
  padding: 8px;
  max-height: 70%;
}

h3 {
  text-decoration: underline;
}